/* @import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css 327"); */
@font-face {
    font-family: 'Binggrae-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Binggrae-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Binggrae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {margin: 0; padding: 0; font-family: 'Binggrae';}
li {list-style: none;}
a {text-decoration: none; color: black;}
html {font-size: 16px;}

.section_wrap {
    /* overflow: hidden; */
    height: calc(100vh - 140px);
}

.section_wrap section{
    width: 100%;
    /* height: 100vh; */
    height: calc(100vh - 140px);
    border: 1px solid black;
    box-sizing: border-box;
    /* padding-top: 140px; */
    margin-top: 140px;

    overflow: hidden;
}



.header {
    width: 100%;
    height: 70px;
    background-color: #bf132b;
    /* overflow: hidden; */
    position: fixed;
    top: 0; left: 0;

    z-index: 10;
}

.inner_header {
    position: relative;
    max-width: calc(100% - 20px);
    display: flex;
    justify-content: space-between;

    /* border: 1px solid #333; */
}

.inner_header .M_logo_box {
    width: 250px;
    height: 60px;  
    /* text-align: center; */
    margin: 5px auto;

    /* border: 1px solid #333; box-sizing: border-box; */
}

.inner_header .M_logo_box .img_box img {
    height: 55px;
}



.inner_header .W_logo_box {display: none;}


.inner_header .W_search_box {display: none;}

.inner_header .category_box {
    position: absolute;
    top: 0;
    right: 0;
    height: 70px;

    /* border: 1px solid #333; box-sizing: border-box; */
}

.inner_header .category_box p {display: none;}

.inner_header .category_box i {
    color: white;
    line-height: 70px;
    font-size: 30px;
}

.M_search_box i {
    position: fixed;
    background-color: #bf132b;
    color: #ffdf64;
    bottom: 50px;
    right: 30px;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
}

@media all and (min-width:601px) {
    .inner_header {
        margin-top: 5px;
    }
    
    .inner_header .M_logo_box {
        /* margin: 5px 50px 5px 70px; */
        padding: 0 50px 0 20px;
    }

    .inner_header .W_search_box {
        display: block;
        border-bottom: 3px solid #ffdf64;
        /* width: calc(100%- 500px); */
        flex: 1;
        height: 50px;
        margin-right: 70px;
    }

    .inner_header .W_search_box i {
        font-size: 20px;
        color: #ffdf64;
        float: right;
        line-height: 60px;
        padding: 0 10px;

        /* border: 1px solid #333; */
    }

    #search {
        background: none;
        border: none;
        direction: none;
        width: 85%;
        color: white;
        margin: 20px 0;
    }

    #search::placeholder {
        opacity: 0;
    }
    
    .category_box i {
        font-size: 30px;
        color: #ffdf64;
    }

    .M_search_box {display: none;}

}


@media all and (min-width:1024px) {

.inner_header {
    min-width: 1024px;
    max-width: 1700px;
    margin: 5px auto 0;

    /* border: 1px solid #333; */

}

.inner_header .M_logo_box {display: none;}

.inner_header .W_logo_box {
    display: block;
    width: 200px;
    height: 50px;  
    text-align: center;
    margin: 5px 50px 5px 0;
    padding-left: 70px;

    /* border: 1px solid #333; */
}

.inner_header .W_logo_box .logo_text {
    position: relative;
}

.inner_header .W_logo_box .logo_text .logo_img {
    position: absolute;
    height: 60px;
    left: -55px;
}

.inner_header .W_logo_box .logo_text .logo_img img {
    height: 55px;
}

.inner_header .W_search_box {
    flex: 0.6;
    margin-right: 250px;

    /* border: 1px solid #333; */
}


#search::placeholder {
    opacity: 1;
    color: #ffdf64;
}



.inner_header .category_box {
    display: flex;
    margin-right: 20px;
}

.inner_header .category_box p {
    display: block;
    color: white;
    text-align: center;
    line-height: 70px;
    font-size: 20px;
    margin-right: 10px;
}

    
}

/* ----------------------header---------------------- */



/* ----------------------menu_window---------------------- */

.menu_window {
    background-color: white;

    display: none;
}

.menu_window .inner_menu_window {
    width: calc(100% - 40px);
    overflow: hidden;
    margin: 0 auto;
}

.metapo_box {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
}

.metapo_box .menu_metapo {
    width: 70px;
    padding: 5px;
}

.metapo_box .menu_metapo .icon .img_box img{
    width: 70px;
    height: 70px;
    border-radius: 35px;
}


/*  */


.menu_list {
    padding-top: 50px;
}

.menu_list .menu {
    text-align: center;
}

.menu_list .menu li {
    font-weight: bold;
    line-height: 35px;
}

.menu_list .menu li .menu_category {
    
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

.menu_list .menu li ul {
    display: flex;
    flex-wrap: wrap;
    /* margin: 15px 0; */
    justify-content: center;

    height: 0;
    overflow: hidden;
}

.menu_list .menu li ul li {
    /* padding: 2px 10px; */
    font-weight: normal;
}

.menu_list .menu li ul li ~ li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 16px;
    background-color: #333;
    vertical-align: middle;
    margin: 0 15px;
}

/* .menu_list .menu li ul li:last-child::after {
    display: none;
} */

@media all and (min-width:601px) {}
@media all and (min-width:1024px) {}






/* ----------------------menu_window---------------------- */


/* ----------------------header_bottom_ladel---------------------- */


.header_bottom_ladel {
    position: fixed;
    top: 70px; left: 0;
    height: 40px;
    width: 100%;
    background-color: white;

    z-index: 10;
}

.header_bottom_ladel .header_bottom_ladel_inner {
    min-width: 1024px;
    max-width: 1700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header_bottom_ladel .site_lick {
    display: flex;
    margin-left: 5px;
}

.header_bottom_ladel .site_lick a {
    display: flex;
}

.header_bottom_ladel .site_lick a i {
    color: white;
    background-color: #bf132b;
    width: 30px; height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 15px;
    font-size: 0.8rem;
    margin: 5px 5px 5px 10px;
}

.header_bottom_ladel .site_lick a p {
    font-size: 0.9rem;
    line-height: 40px;
}

.hashtag {display: none;}


.T_section_nav {display: none;}
.W_section_nav {display: none;}

.M_section_nav {
    position: fixed;
    top: 110px; left: 0;
    background-color: white;
    width: 200%;
    height: 30px;
    /* border-top: 1px solid #333;
    border-bottom: 1px solid #333; */
    border: 1px solid #333;
    overflow-x: scroll;
}

.M_section_nav ul {
    display: flex;
    width: 120%;
    /* flex-wrap: nowrap; */
    /* margin-left: 170px; */
}

.M_section_nav ul li {
    margin: 0 5px;
    /* float: left; */
}

.M_section_nav ul li a {
    font-size: 0.8rem;
    line-height: 30px;
}




.main_visual {
    height: calc(100vh - 110px);
    margin-top: -30px;
}




@media all and (min-width:601px) {

.header {
    width: 100%;
    overflow: hidden;
}

.wrap section{
    padding-top: 70px;
    width: 100%;
}

.header_bottom_ladel {
    position: static;
}

.hashtag {
    display: block;
    margin-right: 10px;
}

.hashtag a {
    line-height: 40px;
    margin-right: 5px;
}

.M_section_nav {display: none;}
.W_section_nav {display: none;}

.T_section_nav {
    display: block;
    position: fixed;
    right: 0; top: 50%;
}

.T_section_nav ul li {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #ffed93;
    border: 2px solid #ffdf64;
}

.T_section_nav ul li:first-child {
    background-color: white;
}

.T_section_nav ul li:first-child img {
    width: 100%;
}

.T_section_nav ul li a  {
    font-size: 1.8rem;
    color: white;
}

}
@media all and (min-width:1024px) {

.M_section_nav {display: none;}
.T_section_nav {display: none;}

.W_section_nav {
    display: block;
    position: fixed;
    right: 50px; top: 50%;
    transform: translateY(-50%)
}

.W_section_nav ul li img {
    width: 50px;
}

.W_section_nav ul li a {
    color: white;
}

.W_section_nav ul li a p {
    display: none;
}

.W_section_nav ul .btn a::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: white;
    vertical-align: middle;
    margin: 25px 15px;

    border: 1px solid #333;
}




}

/* ----------------------section_00 main_visual---------------------- */


/* ----------------------section_00 main_visual---------------------- */







/* ----------------------section_01  yomojomo_page---------------------- */

.best_search {
    margin: 10px 0 15px 30px;
}

.best_search h3::after {
    content: "";
    display: block;
    width: 50px; height: 1px;
    background-color: #333;
    margin: 7px 0 5px;
}

.best_search p {
    font-size: 0.8rem;
    margin-bottom: 10px;
}

.best_search .best_search_list {
    overflow-x: scroll;
}

.best_search ul {
    display: flex;
    width: 220%;
}

.best_search ul li {
    text-align: center;
    border: 1px solid #333;
    border-radius: 15px;
    font-size: 0.8rem;
    padding: 5px 10px;
    margin-right: 5px;
    /* overflow-x: scroll; */
}



.outer_recipe_box {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 30px);
    margin: 0 auto;
}

.recipe_box {
    position: relative;
    width: calc(50% - 5px);
    height: 280px;
    margin-bottom: 10px;
    overflow: hidden;

    /* border: 1px solid #333; */
}

.recipe_box h4 {
    text-align: center;
    font-size: 0.8rem;
    margin: 10px 0;
}

.recipe_box div ul li {display: none;}
.recipe_box div ul .on {display: block;}

.kids_recipe {
    background-color: #f49700;
}
.history_recipe {
    background-color: #ffdf64;
}

.recipe_box .slider_img_box {
    width: 150px;
    height: 150px;
    margin: 0 auto;

    /* border: 3px solid white; */
    overflow: hidden;
}

.recipe_box .slider_img_box ul li {
    text-align: center;
}
.recipe_box .slider_img_box ul li img {
    height: 150px;
}

.recipe_box  .slider_text ul li h5 {
    font-size: 0.8rem;
    text-align: center;
    margin: 10px 0 5px;
}

.recipe_box  .slider_text ul li p {
    font-size: 0.6rem;
    text-align: center;
}

.recipe_box .indicator div div p {display: none;}
.recipe_box .indicator div div .on {display: block; margin-right: 5px;}

.recipe_box .indicator {
    position: absolute;
    bottom: 10px; left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.recipe_box .indicator p {
    font-size: 0.6rem;
}

.recipe_box .indicator i {
    font-size: 0.6rem;
}

.recipe_box .indicator div {
    display: flex;
}


.measurement {
    width: calc(100% - 30px);
    margin: 0 auto;
    position: relative;
}

.measurement img {
    width: 100%;
}

.measurement p {
    position: absolute;
    top: 50%; left: 40px;
    transform: translateY(-60%);
    color: white;
}










@media all and (min-width:601px) {

.yomojomo_page_inner {
    display: flex;
    margin: 150px auto;
}

.yomojomo_page_inner .best_search {
    flex: 2;
    padding-left: 20px;
}

.best_search {
    padding-top: 100px;
    margin-right: 20px;
}

.best_search h3 {
    font-size: 1.3rem;
}

.best_search p {
    font-size: 1rem;
}

.best_search ul {
    display: block;
    width: 120px;
}

.best_search ul li {
    text-align: left;
    margin: 5px 5px 5px 0;
    font-size: 0.9rem;
}

.yomojomo_page_inner .yomojomo_page_inner_T {
    flex: 9;
    z-index: -1;
    margin-right: 30px;
}

.recipe_box {
    width: calc(50% - 10px);
    height: 500px;
    margin-bottom: 20px;

    /* border: 1px solid #333; */
}

.recipe_box h4 {
    font-size: 1.3rem;
    margin: 40px 0 20px;
}

.recipe_box .slider_img_box {
    width: 200px;
    height: 200px;

    border: 5px solid white;
}

.recipe_box .slider_img_box ul li img {
    height: 200px;
}

.recipe_box  .slider_text ul li h5 {
    font-size: 1.2rem;
    margin: 20px 0 10px;
}

.recipe_box  .slider_text ul li p {
    font-size: 0.9rem;
    margin-bottom: 60px;
}

.measurement p strong {
    font-size: 1.5rem;
}
.measurement p {
    font-size: 1.5rem;
}

}
@media all and (min-width:1024px) {}



/* ----------------------section_01  yomojomo_page---------------------- */


























